{{#if hasResult}}
    <h2>Search Results</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Rating</th>
                <th>Installs</th>
            </tr>
        </thead>
        <tbody>
            {{#each result}}
                <tr>
                    <td>{{ this.name }}</td>
                    <td>{{ this.category }}</td>
                    <td>{{ this.rating }}</td>
                    <td>{{ this.installs }}</td>
                </tr>
            {{/each}}     
        </tbody>
    </table>    
    <!-- navigation buttons -->
    <div class="row d-flex justify-content-between">
        {{#if noNextPage}}
            <form method="GET" action="/search">
                <input type="hidden" name="q" value="{{ q }}">
                <input type="hidden" name="offset" value={{ prevOffset }}>
                <button type="submit">Previous</button>
            </form>
        {{else if noPrevPage}}
            <form method="GET" action="/search">
                <input type="hidden" name="q" value="{{ q }}">
                <input type="hidden" name="offset" value={{ nextOffset }}>
                <button type="submit">Next</button>
            </form>
        {{else}}  
            <form method="GET" action="/search">
                <input type="hidden" name="q" value="{{ q }}">
                <input type="hidden" name="offset" value={{ prevOffset }}>
                <button type="submit">Previous</button>
            </form>
            <form method="GET" action="/search">
                <input type="hidden" name="q" value="{{ q }}">
                <input type="hidden" name="offset" value={{ nextOffset }}>
                <button type="submit">Next</button>
            </form>
        {{/if}}
        <input type="hidden" name="page" value="{{ page }}">
    </div> 
{{else}}
    <h2>Your search produces no result</h2>

{{/if}}
